<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS for challenges.html -->
  <link rel="stylesheet" type="text/css" href="/css/template-css/challenges.css" />
</head>

<body>
    <div id="challenges" class="black_background_content">
        <nav class="navbar navbar-default">
            <h3 class="name">Eco Challenges</h3>
        </nav>
        <div id="list">
        </div>
    </div>

</body>

</html>