<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <div id="members">
        <h1>MEET OUR MEMBERS</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>President</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Vice President</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Rick</td>
                    <td>Novak</td>
                    <td>Secretary</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Susan</td>
                    <td>Connor</td>
                    <td>Treasurer</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ronald</td>
                    <td>Barr</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Roger</td>
                    <td>Lum</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Jeff</td>
                    <td>Johnson</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Melvin</td>
                    <td>Forbis</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Lena</td>
                    <td>Smith</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Nicol</td>
                    <td>Green</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>